<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's Build AI</title>
    <meta name="title" content="Let's Build AI">
    <meta name="description" content="A community-driven platform for AI enthusiasts.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://letsbuild.ai/">
    <meta property="og:title" content="Let's Build AI">
    <meta property="og:description" content="A community-driven platform for AI enthusiasts.">
    <meta property="og:image" content="https://letsbuild.ai/images/logo.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://letsbuild.ai/">
    <meta property="twitter:title" content="Let's Build AI">
    <meta property="twitter:description" content="A community-driven platform for AI enthusiasts.">
    <meta property="twitter:image" content="https://letsbuild.ai/images/logo.png">
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-black text-white">
    <div class="min-h-screen bg-gradient-to-r from-gray-900 px-2 md:px-4 to-gray-800">
        <div class="text-white py-4">
            <div class="flex justify-center items-center">
                <div class="text-center">
                    <a href="https://letsbuild.ai">
                        <img src="/images/logo.png" alt="LetsBuild.AI Logo" class="mx-auto h-32 mb-4">
                    </a>
                    <h1 class="text-3xl font-bold mb-2">Let's Build AI</h1>
                    <p class="mb-4">A community-driven platform for AI enthusiasts.</p>
                    <a href="https://github.com/aprxi/letsbuild-ai" target="_blank"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Contribute on GitHub
                    </a>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="flex justify-center mt-12">
            <div class="py-4 text-white text-center max-w-4xl w-full">
                <p>Edit this site on <a href="https://github.com/aprxi/letsbuild-ai" target="_blank"
                        class="underline">GitHub</a>. Your contributions are welcome!</p>
                <p class="mt-2">Letsbuild.ai does not use cookies and does not collect any personal data.</p>
            </div>
        </div>
    </div>
</body>

</html>