<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's Build AI</title>
    <meta name="title" content="Let's Build AI">
    <meta name="description" content="A community-driven platform for AI enthusiasts.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://letsbuild.ai/">
    <meta property="og:title" content="Let's Build AI">
    <meta property="og:description" content="A community-driven platform for AI enthusiasts.">
    <meta property="og:image" content="https://letsbuild.ai/images/logo.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://letsbuild.ai/">
    <meta property="twitter:title" content="Let's Build AI">
    <meta property="twitter:description" content="A community-driven platform for AI enthusiasts.">
    <meta property="twitter:image" content="https://letsbuild.ai/images/logo.png">
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="bg-black text-white">
    {% block content %}{% endblock %}
</body>
</html>